<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - NETCoreExperimentalWebApp</title>

    <link rel="stylesheet" href="~/lib/semantic/dist/semantic.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <div class="ui menu">
        <a class="item header" asp-controller="Home" asp-action="Index">Home</a>
        <a class="item header" asp-controller="Books" asp-action="Index">Books</a>
        <div class="right menu">
        @{
            if (User.Identity.IsAuthenticated)
            {
                <form class="link item header" asp-controller="Account" asp-action="Logout" method="post">
                    <div class="ui transparent input">
                        <input class="link item header" type="submit" value="Logout"/>
                    </div>
                </form>
            }
            else
            {
                <a class="item header" asp-controller="Account" asp-action="Login">Login</a>
            }
        }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/knockout/dist/knockout.js"></script>
    <script type="text/javascript" src="~/lib/semantic/dist/semantic.min.js"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
