@using Newtonsoft.Json
@model LoginViewModel
@{
    ViewData["Title"] = "Log in";
}

<h2 class="ui header">@ViewData["Title"]</h2>
<div class="ui left floated raised very padded text container segment">
    <form class="ui form" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="ui error message"></div>
        <div class="field">
            <label asp-for="Username"></label>
            <input asp-for="Username" />
        </div>
        <div class="field">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input asp-for="RememberMe" />
                <label asp-for="RememberMe"></label>
            </div>
        </div>
        <div class="field">
            <button type="submit" class="ui button">Log in</button>
        </div>
    </form>
    <div class="ui divider"></div>
    <div>
        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function() {
            $('.ui.form')
                .form({
                    fields: {
                        username: {
                            identifier: 'Username',
                            rules : [
                                {
                                    type  : 'empty',
                                    prompt: 'Please enter your username'
                                }
                            ]
                        },
                        password: {
                            identifier: 'Password',
                            rules : [
                                {
                                    type  : 'empty',
                                    prompt: 'Please enter your password'
                                }
                            ]
                        }
                    }
                })
                .api({
                    method       : 'POST',
                    serializeForm: true,
                    url          : "Login",
                    onSuccess    : function(response) {
                        //TODO: Find a better way to do this
                        window.location.replace("/");
                    },
                    onFailure    : function(response) {
                        console.log(response);
                        $(this).removeClass('loading');
                        $(this).form('add errors',['Login Failed']);
                        $(this).form('clear');
                        $(this).find('.ui.error.message').show();
                    }
                });
        });
    </script>
}