
@{
    ViewData["Title"] = "Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editor</h2>

<i id="targetElement" class="talk icon"></i>
<div class="ui divider"></div>
<div class="ui segment" style="white-space: pre-line"></div>
<div class="ui divider"></div>
<div id="GenerateCode" class="ui button">Generate Code</div>
<div id="RunCode" class="ui button">Run Code</div>
<div class="ui divider"></div>
<div id="blocklyDiv" style="height: 620px; width: 1000px;"></div>

<xml id="toolbox" style="display: none">
    <block type="icon_change_color_red"></block>
    <block type="icon_change_color_green"></block>
</xml>

@section Scripts {
    <script type="text/javascript" src='~/lib/google-blockly-941d8e4/blockly_compressed.js'></script>
    <script type="text/javascript" src='~/lib/google-blockly-941d8e4/generators/javascript.js'></script>
    <script type="text/javascript" src='~/lib/google-blockly-941d8e4/blocks_compressed.js'></script>
    <script type="text/javascript" src='~/lib/google-blockly-941d8e4/msg/js/en.js'></script>
    <script type="text/javascript" src='~/js/Blocks.js'></script>

    <script>
        var Timer = {
            count: 1
        };

        var workspace = Blockly.inject('blocklyDiv', { toolbox: document.getElementById('toolbox') });
        Blockly.JavaScript.addReservedWords('code');
        

        $("#GenerateCode").on("click",
            function () {
                var code = Blockly.JavaScript.workspaceToCode(workspace);
                $(".segment").text(code.replace(";", ";\n").split(",1")[0]);
                Timer.count = 1;
            }
        );

        $("#RunCode").on("click",
            function () {
                var code = Blockly.JavaScript.workspaceToCode(workspace);
                eval(code.split(",1")[0]);
                Timer.count = 1;
            }
        );
    </script>

}