@{
    ViewData["Title"] = "Home Page";
}

<div class="ui raised very padded text container segment">
    <h2 class="ui header">This is the home page of my experimental app.</h2>
    <p>I'm not sure what content it will contain.</p>
    <p>But it will be very exciting I'm sure.</p>
</div>