@{
    ViewData["Title"] = "Home Page";
}

<h2 class="ui header">News Articles</h2>

<div class="field">
    <label>Source</label>
    <select class="ui dropdown" name="dropdown"
            data-bind="options: articleSources,
                            optionsText: 'Name',
                            optionsValue: 'Id',
                            value: selectedSource"></select>
</div>

<div class="ui divider"></div>

<div class="ui link cards" data-bind="foreach: articles">
    <div class="ui card">
        <a class="image" data-bind="attr: { href: Url }" target="_blank">
            <img data-bind="attr: { src: UrlToImage }" />
        </a>
        <a class="content" data-bind="attr: { href: Url }" target="_blank">
            <div class="header" data-bind="text: Title"></div>
            <div class="meta" data-bind="text: Author"></div>
        </a>
        <a class="extra content" data-bind="attr: { href: Url }" target="_blank">
            <div class="meta" data-bind="text: Description"></div>
        </a>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src='@Url.Content("~/js/KOModels/ArticleViewModel.js")'></script>
    <script>


        var viewModel = (function () {
            var self = this;
            self.articles = ko.observableArray();
            self.articleSources = ko.observableArray();
            self.selectedSource = ko.observable('');

            self.updateSource = function () {
                console.log(self.selectedSource());
                if (self.selectedSource() !== undefined) {
                    $.ajax({
                        type: "POST",
                        url: "/Home/GetArticles",
                        data: JSON.stringify(ko.toJS(self.selectedSource())),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            console.log(data);
                            ko.mapping.fromJS(data, {}, viewModel.articles);
                        }
                    });
                }
            };

            self.selectedSource.subscribe(self.updateSource);

            return {
                articles: self.articles,
                articleSources: self.articleSources,
                selectedSource: self.selectedSource
            };
        })();


        $(document).ready(function () {

            // Initialize dropdowns
            $('.ui.dropdown').dropdown();

            $.ajax({
                type: "Get",
                url: "/Home/GetSources",
                async: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    ko.mapping.fromJS(data, {}, viewModel.articleSources);
                    viewModel.selectedSource('ars-technica');
                }
            });

            ko.applyBindings(viewModel);

        });
    </script>
}