@using Newtonsoft.Json
@model IEnumerable<NETCoreExperimentalWebApp.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var jsonData = JsonConvert.SerializeObject(Model);
}

<h2>List of Books</h2>
<div class="ui right floated icon buttons">
    <button id="btnDisplayGrid" class="ui button">
        <i class="block layout icon"></i>
    </button>
    <button id="btnDisplayList" class="ui button">
        <i class="sidebar icon"></i>
    </button>
</div>
<button id="btnAddBook" class="ui button">Add Book With Knockout</button>
<div class="ui divider"></div>
<p>
    <a class="ui secondary button" asp-action="Create">Enter a New Book</a>
</p>

<div class="ui divider"></div>
<div>@jsonData</div>
<h2 class="ui header">List of Books</h2>

<table id="listItems" class="ui celled table" style="display:none">
    <thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        @*<th>
            Type
        </th>*@
        <th>
            Image
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody data-bind="foreach: books">
        <tr>
            <td data-bind="text: Title"></td>
            <td data-bind="text: Author"></td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>*@
            <td>
                <img class="ui tiny image" data-bind="attr: { src: Image }" />
            </td>
            <td>
                <div class="ui fluid buttons">
                    <div class="ui button">
                        <a data-bind="attr: { href: 'Books/Edit/' + id }">
                            <i class="edit icon large"></i>
                        </a>
                    </div>
                    <div class="ui button">
                        <a data-bind="attr: { href: 'Books/Details/' + id }">
                            <i class="green info icon large"></i>
                        </a>
                    </div>
                    <div class="ui button">
                        <a data-bind="attr: { href: 'Books/Delete/' + id }">
                            <i class="red delete icon large"></i>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<div data-bind="foreach: books" id="gridItems" class="ui link cards">
    <div class="ui card">
        <a class="image" data-bind="attr: { href: 'Books/Edit/' + id }">
            <img data-bind="attr: { src: Image }" />
        </a>
        <a class="content" data-bind="attr: { href: 'Books/Edit/' + id }">
            <div class="header" data-bind="text: Title"></div>
            <div class="meta" data-bind="text: Author"></div>
        </a>
        <div class="extra content">
            <div class="ui fluid buttons">
                <div class="ui button">
                    <a data-bind="attr: { href: 'Books/Edit/' + id }">
                        <i class="edit icon large"></i>
                    </a>
                </div>
                <div class="ui button">
                    <a data-bind="attr: { href: 'Books/Details/' + id }">
                        <i class="green info icon large"></i>
                    </a>
                </div>
                <div class="ui button">
                    <a data-bind="attr: { href: 'Books/Delete/' + id }">
                        <i class="red delete icon large"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui small modal">
    <div class="header">
        Enter a New Book
    </div>
    <div class="content">
        <div id="frmAddBook" class="ui form">
            <div class="field">
                <label>Title</label>
                <input id="inputBookTitle" type="text" name="title" placeholder="Title">
            </div>
            <div class="field">
                <label>Author</label>
                <input id="inputBookAuthor" type="text" name="author" placeholder="Author">
            </div>
            <div class="field">
                <label>Image</label>
                <input id="inputBookImage" type="text" name="image" placeholder="Image URL">
            </div>
            <div class="field">
                <label>Type</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="type">
                    <i class="dropdown icon"></i>
                    <div class="default text">Type</div>
                    <div id="bookOptionsMenu" class="menu">
                        <div class="item" data-value="0">Board</div>
                        <div class="item" data-value="1">Electronic</div>
                        <div class="item" data-value="2">Standard</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui buttons">
            <button id="btnConfirmAddBook" class="ui button">Confirm</button>
            <button id="btnCancelAddBook" class="ui button">Cancel</button>
        </div>
    </div>
</div>

    @section Scripts {
        <script>
            viewModel = {
                books: ko.observableArray()
            };

            $(document).ready(function () {
                // Initialize dropdown
                $('.ui.dropdown').dropdown();

                console.log(@Html.Raw(jsonData));
                // Convert MVC Model to Knockout ViewModel
                $(@Html.Raw(jsonData)).each(function (index, element) {
                    viewModel.books.push(element);
                });
                ko.applyBindings(viewModel);

            });

            $("#btnDisplayGrid").on("click",
                function () {
                    $("#listItems").fadeOut();
                    $("#gridItems").fadeIn();
                });

            $("#btnDisplayList").on("click",
                function () {
                    $("#gridItems").fadeOut();
                    $("#listItems").fadeIn();
                });

            $("#btnAddBook").on("click",
                function () {
                    $(".ui.modal").modal('show');
                });

            $("#btnCancelAddBook").on("click",
                function () {
                    $(".ui.modal").modal('hide');
                    // Reset form
                    $("#inputBookTitle").val("");
                    $("#inputBookAuthor").val("");
                    $("#inputBookImage").val("");
                    $(".ui.dropdown").dropdown('restore defaults');
                });

            $("#btnConfirmAddBook").on("click",
                function () {
                    console.log("Adding Book");
                    console.log(viewModel.books());
                    var book = {
                        title: $("#inputBookTitle").val(),
                        author: $("#inputBookAuthor").val(),
                        type: $("#bookOptionsMenu .active").text(),
                        image: $("#inputBookImage").val()
                    }
                    console.log(book);
                    var addBook = $.ajax({
                        type: "POST",
                        url: "/Books/CreateViaJSON",
                        data: JSON.stringify(book),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) { book.id = data; }
                    });
                    addBook.done(function () {
                        console.log(book);
                        viewModel.books.push(book);
                        console.log(JSON.stringify(book));
                        console.log(viewModel.books());
                    });
                    $(".ui.modal").modal('hide');
                });
        </script>
    }
