@model NETCoreExperimentalWebApp.Models.ApplicationUser
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="ui header">Reset Password for @Model.UserName</h2>

<hr />
<div class="row">
    <div>@Html.ValidationSummary()</div>
    <form class="ui form" asp-action="ResetPassword">
        <div class="field">
            <label type="text" name="newPassword" class="control-label"></label>
            <input name="newPassword" class="form-control" />
        </div>
        <div class="field">
            <input type="submit" value="Update" class="ui button" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to Users</a>
</div>

